@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,100;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin:0; 

    font-family: 'Roboto', sans-serif;

}

:root{
    --grey:#E1E1E6;
    --color-background-gradient: linear-gradient( #FF008E 10%, #202024 35%);
    
}



main{

  display: flex;
    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;


 /*background-color: #202024;*/
 background: var(--color-background-gradient);
 
}

#principal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/mask.svg);
    background-repeat: no-repeat;
    width: 23.3rem;
   /*height: 50.72rem;*/ 
    margin: auto;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11.4rem;

  width: 16.74rem;
}

#selo{
    width: 5rem;
    height: 5rem;

    
   position: relative;
   left: 3.1rem;
   top: -1.31rem; 

   z-index: 1;
}



#fotoPerfil{
    margin: auto;
    position: relative;
    right: 2.6rem;
    
    width: 66%;
    height: 10%;

    /*width:  10rem ;
    height: 11.5rem;*/
    
    clip-path: polygon(50% 0, 100% 25%, 100% 74%, 50% 100%, 1% 74%, 0 25%);
}

#name{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    margin-top: 1rem;
    
    
}

#avatar{
    display: flex;
    justify-content: center;
}

#name img {
    margin-right: 0.7rem;
}

#name p {
   
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;

    color: #C4C4CC;
}
.description{
    text-align: center;

    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.5rem;

    color: var(--grey);

    margin-top: 2rem;
}

#midiaSocial{
    
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    
}
.fundo-social{
    background: #323238; 

    padding: 1rem;
    margin: 0.3rem;
}

#midiaSocial img {
    width: 3.4rem;
    height: 3.4rem;
}

h1{
    font-style: normal;
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 1.8rem; 
    text-align: center;

    color: var(--grey);

    margin-top:2rem ;
}


@media  screen and (max-width: 511PX){


    #principal-content{
         margin-top:0;
         
         background-size: 100%;

         
    }

    .container{
        margin-top: calc(98% - 185px);
       
    }
    

}

@media screen and (max-width: 369px){
    .container{
        margin-top: calc(110% - 185px);
    }
    
}